# Xcode
.DS_Store
*.xcodeproj
xcuserdata/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.xcuserstate
profile/
*.xcappdata

# CocoaPods
Pods/
!Podfile.lock
!Manifest.lock

# Carthage
Carthage/

# Swift Package Manager
.build/

# DerivedData
DerivedData/

# Misc
*.mobileprovision
*.xcarchive
*.ipa
*.dSYM.zip
*.app.dSYM